name: Production

on: [workflow_dispatch]
  

jobs:

  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    - name: Build
      run: dotnet build -o PSMSI -c Release

    - name: Release
      run: Publish-Module -Path .\PSMSI -NuGetApiKey $Env:APIKEY
      env:
        APIKEY: ${{ secrets.PSMSI }}
      shell: pwsh
